


.App {
  text-align: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: 50%;
  background-color: #0c0448;
  color: #ffffff;
}


#login-header {
  background-color: rgb(42, 115, 210);
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
}

.login-err-ms {
  color: red;
  font-size: 12px;
  font-weight: bold;
}